<section class="overlay-about">


    <div class="image" title="{{ data.aaLogo.title }}">
        <img src="{{ data.aaLogo.src }}" alt="{{ data.aaLogo.title }}">
    </div>
    <h1>{{ data.h1 }}</h1>
    <p>{{ data.p1 }}</p>
    <p>{{ data.p2 }}</p>
    <p>{{ data.p3 }}</p>

    <div class="logo-lineup">
        <div class="image" title="{{ data.okfLogo.title }}">
            <img src="{{ data.okfLogo.src }}" alt="{{ data.okfLogo.title }}">
        </div>
        <div class="image" title="{{ data.protoLogo.title }}">
            <img src="{{ data.protoLogo.src }}" alt="{{ data.protoLogo.title }}">
        </div>
        <div class="image" title="{{ data.bmbfLogo.title }}">
            <img src="{{ data.bmbfLogo.src }}" alt="{{ data.bmbfLogo.title }}">
        </div>
        
    </div>
    
    <h2>{{ data.h2 }}</h2>
    <p>{{ data.p4 }}</p>
    <p>{{ data.p5 }}</p>
    <p>{{ data.p6 }}</p>

    <h2>{{ data.h3 }}</h2>
    <p>{{ data.p7 }}</p>
    <p>{{ data.p8 }}</p>

    <p>{{ data.p9 }}</p>
    <div class="image" title="{{ data.cfhLogo.title }}">
        <img src="{{ data.cfhLogo.src }}" alt="{{ data.cfhLogo.title }}">
    </div>

    <p>{{ data.p10 }}</p>
    <div class="image" title="{{ data.dusLogo.title }}">
        <img src="{{ data.dusLogo.src }}" alt="{{ data.dusLogo.title }}">
    </div>

    <p>{{ data.p11 }}</p>
    <div class="image" title="{{ data.bipLogo.title }}">
        <img src="{{ data.bipLogo.src }}" alt="{{ data.bipLogo.title }}">
    </div>

</section>