<section class="history">
    <h1>{{ data.title }}</h1>
    

    <h2 data-marker="startingpoint">{{ data.startingpoint.h1 }}</h2>
    <p>{{ data.startingpoint.p1 }}</p>
    
    <p data-marker="thecuries">{{ data.thecuries.p1 }}</p>
    
    <h2 data-marker="atommodel">{{ data.atommodel.h1 }}</h2>
    <p>{{ data.atommodel.p1 }}</p>
    
    <h2 data-marker="chainreaction">{{ data.chainreaction.h1 }}</h2>
    <p>{{ data.chainreaction.p1 }}</p>
    <p>{{ data.chainreaction.p2 }}</p>

    <h2 data-marker="firstreactor">{{ data.firstreactor.h1 }}</h2>
    <p>{{ data.firstreactor.p1 }}</p>

    <h2 data-marker="startnuclearpower">{{ data.startnuclearpower.h1 }}</h2>
    <p>{{ data.startnuclearpower.p1 }}</p>

    <h2 data-marker="firstreactorgermany">{{ data.firstreactorgermany.h1 }}</h2>
    <p>{{ data.firstreactorgermany.p1 }}</p>
    <p>{{ data.firstreactorgermany.p2 }}</p>

    <h2 data-marker="asseandmorsleben">{{ data.asseandmorsleben.h1 }}</h2>
    <p>{{ data.asseandmorsleben.p1 }}</p>

    <h2 data-marker="atomicage">{{ data.atomicage.h1 }}</h2>
    <p>{{ data.atomicage.p1 }}</p>
    <p>{{ data.atomicage.p2 }}</p>
    
    <p data-marker="antiatomkraft">{{ data.antiatomkraft.p1 }}</p>
    
    <p data-marker="neindanke">{{ data.neindanke.p1 }}</p>
    
    <h2 data-marker="gorleben-1">{{ data.gorleben.h1 }}</h2>
    <p>{{ data.gorleben.p1 }}</p>

    <p data-marker="gorleben-2">{{ data.gorleben.p2 }}</p>

    <p data-marker="gorleben-3">{{ data.gorleben.p3 }}</p>
    
    <h2 data-marker="oceanprotest">{{ data.oceanprotest.h1 }}</h2>
    <p>{{ data.oceanprotest.p1 }}</p>
    <p>{{ data.oceanprotest.p2 }}</p>
    
    <h2 data-marker="tschernobyl-1">{{ data.tschernobyl.h1 }}</h2>
    <p>{{ data.tschernobyl.p1 }}</p>

    <p data-marker="tschernobyl-2">{{ data.tschernobyl.p1 }}</p>
    
    <h2 data-marker="highpoint">{{ data.highpoint.h1 }}</h2>
    <p>{{ data.highpoint.p1 }}</p>

    <h2 data-marker="stepdown">{{ data.stepdown.h1 }}</h2>
    <p>{{ data.stepdown.p1 }}</p>

    <h2>{{ data.stepdown.h2 }}</h2>
    <p>{{ data.stepdown.p2 }}</p>
    <p>{{ data.stepdown.p3 }}</p>
    
    <h2 data-marker="fukushima">{{ data.fukushima.h1 }}</h2>
    <p>{{ data.fukushima.p1 }}</p>
    <p>{{ data.fukushima.p2 }}</p>
    <p>{{ data.fukushima.p3 }}</p>
    
    <h2 data-marker="thesearch">{{ data.thesearch.h1 }}</h2>
    <p>{{ data.thesearch.p1 }}</p>
    <p>{{ data.thesearch.p2 }}</p>
    
</section>