<section class="overlay-basic">
    {% if data.image and not data.image.bottom %}
        <div class="image" title="{{ data.h1 }}">
            <img src="{{ data.image.src }}" alt="{{ data.image.title }}">
            <p>{{ data.image.title }}</p>
            <p>
                <span>{{ data.image.label1 }} </span>
                <a target="_blank" href="{{ data.image.href1 }}">{{ data.image.link1 }}</a>
                /
                <a target="_blank" href="{{ data.image.href2 }}">{{ data.image.link2 }}</a>
                <span> {{ data.image.label2 }}</span>
            </p>
        </div>
    {% endif %}
    {% if data.h1 %}<h1>{{ data.h1 }}</h1>{% endif %}
    <p>{{ data.p1 }}</p>
    {% if data.p2 %}<p>{{ data.p2 }}</p>{% endif %}
    {% if data.p3 %}<p>{{ data.p3 }}</p>{% endif %}
    {% if data.p4 %}<p>{{ data.p4 }}</p>{% endif %}
    {% if data.link %}<a target="_blank" href="{{ data.link }}">{{ data.label }}</a>{% endif %}
    {% if data.image and data.image.bottom %}
        <div class="image bottom" title="{{ data.h1 }}">
            <img src="{{ data.image.src }}" alt="{{ data.image.title }}">
            <p>{{ data.image.title }}</p>
            <p>
                <span>{{ data.image.label1 }} </span>
                <a target="_blank" href="{{ data.image.href1 }}">{{ data.image.link1 }}</a>
                /
                <a target="_blank" href="{{ data.image.href2 }}">{{ data.image.link2 }}</a>
                <span> {{ data.image.label2 }}</span>
            </p>
        </div>
    {% endif %}
</section>