<footer>
    <div class="row">
        <p> {{ data.p1 }}</p>
        <a title="{{ data.prototype.label }}" target="_blank" href="{{ data.prototype.href }}">{{ data.icon.prototype }}</a>
        <a title="{{ data.bmbf.label }}" target="_blank" href="{{ data.bmbf.href }}">{{ data.icon.bmbf }}</a>
        <a title="{{ data.impressum.label }}" class="impressum">{{ data.impressum.label }}</a>
    </div>
</footer>