<section class="nuclear-waste">
    
    <h1>{{ data.title }}</h1>
    <p>{{ data.leader }}</p>
    
    
    
    <h2>{{ data.buildingBlocksOfTheWorld.h1 }}</h2>
    <p>{{ data.buildingBlocksOfTheWorld.p1 }}</p>
    
    <h2>{{ data.radioactivity.h1 }}</h2>
    <p>{{ data.radioactivity.p1 }}</p>
    <p>{{ data.radioactivity.p2 }}</p>
    <p>{{ data.radioactivity.p3 }}</p>
    
    <div class="extra-info right p3"></div>

    <h2>{{ data.halftime.h1 }}</h2>
    <p>{{ data.halftime.p1 }}</p>

    <h2>{{ data.nuclearEnergyUsage.h1 }}</h2>
    <p>{{ data.nuclearEnergyUsage.p1 }}</p>

    <h2>{{ data.isItSustainable.h1 }}</h2>
    <p>{{ data.isItSustainable.p1 }}</p>
    <p>{{ data.isItSustainable.p2 }}</p>
    <p>{{ data.isItSustainable.p3 }}</p>
    <p>{{ data.isItSustainable.p4 }}</p>

    <h2>{{ data.nuclearWaste.h1 }}</h2>
    <p>{{ data.nuclearWaste.p1 }}</p>
    <p>{{ data.nuclearWaste.p2 }}</p>

    <h2>{{ data.plantDeconstruction.h1 }}</h2>
    <p>{{ data.plantDeconstruction.p1 }}</p>
    
    
</section>