<section class="search">
    
    <h1>{{ data.title }}</h1>
    <p>{{ data.leader }}</p>
    
    <div class="map-area">
        <div class="map-area-left">
            <div class="map-container"></div>
        </div>
        <div class="map-area-right">
            <h2>{{ data.whatIsStoredWhere.h1 }}</h2>
            <p class="map-marker clay">{{ data.whatIsStoredWhere.p1 }}</p>
            <p class="map-marker granite">{{ data.whatIsStoredWhere.p2 }}</p>
            <div class="media media-inline"><img src="{{ data.image.well }}"></div>
            <p>{{ data.whatIsStoredWhere.p3 }}</p>
            <div class="media media-inline"><video controls src="http://multimedia.gsb.bund.de/BFS/KONRAD/Vom_Erzlager_zum_Endlager_deu.webm" type="video/webm"></video></div>
            <p class="map-marker rocksalt">{{ data.whatIsStoredWhere.p4 }}</p>
            <p class="map-marker rocksalt-jurassic">{{ data.whatIsStoredWhere.p5 }}</p>
            <p class="map-marker rocksalt-keuper">{{ data.whatIsStoredWhere.p6 }}</p>
            <div class="media media-inline"><iframe width="100%" height="350px" src="https://www.youtube.com/embed/ZmTaiElVfBg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>

        </div>
    </div>
    
    
    <h2>{{ data.searchProcess.h1 }}</h2>
    <p>{{ data.searchProcess.p1 }}</p>
    <p>{{ data.searchProcess.p2 }}</p>
    <p>{{ data.searchProcess.p3 }}</p>
    <p>{{ data.searchProcess.p4 }}</p>
    <p>{{ data.searchProcess.p5 }}</p>
    <h3>{{ data.searchProcess.h2 }}</h3>
    <p>{{ data.searchProcess.p6 }}</p>
    <h3>{{ data.searchProcess.h3 }}</h3>
    <p>{{ data.searchProcess.p7 }}</p>
    <p>{{ data.searchProcess.p8 }}</p>
    <h3>{{ data.searchProcess.h4 }}</h3>
    <p>{{ data.searchProcess.p9 }}</p>
    <p>{{ data.searchProcess.p10 }}</p>
    <h3>{{ data.searchProcess.h5 }}</h3>
    <div class="media media-inline"><img src="{{ data.image.wasteProcess }}"></div>

    <h2>{{ data.whereStandsWhat.h1 }}</h2>
    <p>{{ data.whereStandsWhat.p1 }}</p>

    <h2>{{ data.finalDisposalDispute.h1 }}</h2>
    <p>{{ data.finalDisposalDispute.p1 }}</p>
    <p>{{ data.finalDisposalDispute.p2 }}</p>
    <p>{{ data.finalDisposalDispute.p3 }}</p>
    <p>{{ data.finalDisposalDispute.p4 }}</p>
    <p>{{ data.finalDisposalDispute.p5 }}</p>

    <h2>{{ data.disposalCosts.h1 }}</h2>
    <p>{{ data.disposalCosts.p1 }}</p>

    <h2>{{ data.nationalPlateView.h1 }}</h2>
    <p>{{ data.nationalPlateView.p1 }}</p>
    
    
    <div class="next-chapter"></div>
</section>